body {
    
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: grid;
    place-content: center;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
  align-items: center;
  width: 100%;
  /* overflow: hidden; */
}

.item-container img {
  align-self: flex-start;
  justify-self: flex-start;
  flex-shrink: 1;
}
.item-container h1 {
  flex-shrink: 0.5;
  justify-self: flex-start;
  font-size: calc(1.1rem + 0.8vmin);
}
